<!DOCTYPE html>
<html>
    <head>
        <title>LaCapsule maintenance</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center text-danger">VEUILLEZ NOUS EXCUSER POUR LA GÊNE OCCASIONER LE SITE EST EN MAINTENANCE...</h1>
                </div>
            </div>
        </div>
    </body>
</html>
